<section class="advantages-section" id="advantages">
    <div class="container">
        <h3 class="advantages-subtitle">Переваги</h3>
        <h2 class="advantages-title">Чому обрати нас?</h2>
        <p class="advantages-description">Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
            стійкість і
            довговічність. Обираючи EcoTote, ви
            підтримуєте екологічну відповідальність.</p>
        <ul class="advantages-list">
            <li class="advantages-item">
                <picture>
                    <source
                        srcset="./img/advantages/advantages-first-desktop-1x.jpg 1x, ./img/advantages/advantages-first-desktop-2x.jpg 2x"
                        media="(min-width: 1440px)" />
                    <source
                        srcset="./img/advantages/advantages-first-tablet-1x.jpg 1x, ./img/advantages/advantages-first-tablet-2x.jpg 2x"
                        media="(min-width: 768px)" />
                    <source
                        srcset="./img/advantages/advantages-first-mobile-1x.jpg 1x, ./img/advantages/advantages-first-mobile-2x.jpg 2x"
                        media="(max-width: 767px)" />
                    <img src="./img/advantages/advantages-first-mobile.jpg" alt="Стійкість та екологічність"
                        class="advantages-list-picture" width="288" height="198" />
                </picture>
                <h3 class="advantages-title-item">Стійкість та<br /> екологічність</h3>
                <p class="advantages-description-item">Виготовлені з органічної бавовни та переробленого пластику.</p>
            </li>
            <li class="advantages-item">
                <picture>
                    <source
                        srcset="./img/advantages/advantages-second-desktop-1x.jpg 1x, ./img/advantages/advantages-second-desktop-2x.jpg 2x"
                        media="(min-width: 1440px)" />
                    <source
                        srcset="./img/advantages/advantages-second-tablet-1x.jpg 1x, ./img/advantages/advantages-second-tablet-2x.jpg 2x"
                        media="(min-width: 768px)" />
                    <source
                        srcset="./img/advantages/advantages-second-mobile-1x.jpg 1x, ./img/advantages/advantages-second-mobile-2x.jpg 2x"
                        media="(max-width: 767px)" />
                    <img src="./img/advantages/advantages-second-mobile.jpg" alt="Міцність і довговічність"
                        class="advantages-list-picture" width="288" height="198" />
                </picture>
                <h3 class="advantages-title-item">Міцність і довговічність</h3>
                <p class="advantages-description-item">Наші сумки мають посилені шви для тривалого використання.</p>
            </li>
            <li class="advantages-item">
                <picture>
                    <source
                        srcset="./img/advantages/advantages-third-desktop-1x.jpg 1x, ./img/advantages/advantages-third-desktop-2x.jpg 2x"
                        media="(min-width: 1440px)" />
                    <source
                        srcset="./img/advantages/advantages-third-tablet-1x.jpg 1x, ./img/advantages/advantages-third-tablet-2x.jpg 2x"
                        media="(min-width: 768px)" />
                    <source
                        srcset="./img/advantages/advantages-third-mobile-1x.jpg 1x, ./img/advantages/advantages-third-mobile-2x.jpg 2x"
                        media="(max-width: 767px)" />
                    <img src="./img/advantages/advantages-third-mobile.jpg" alt="Стильний та сучасний дизайн"
                        class="advantages-list-picture big" width="288" height="198" />
                </picture>
                <h3 class="advantages-title-item">Стильний та сучасний дизайн</h3>
                <p class="advantages-description-item">Мінімалістичні моделі в обмежених серіях для кожного стилю.</p>
            </li>
        </ul>
    </div>
</section>