<footer class="footer">
  <div class="footer-container container">
    <nav class="footer-navigation">
      <a
        href="https://anasteishanotych.github.io/project-crtlaltelite01/"
        class="footer-link-logo"
      >
        <img
          alt="EcoTote - логотип"
          src="/img/logo.svg"
          width="280"
          height="121"
          class="footer-logo"
        />
      </a>
      <ul class="footer-nav">
        <li class="footer-navigaiotn-item">
          <a class="footer-navigation-link" href="#about">Про нас</a>
        </li>
        <li class="footer-navigaiotn-item">
          <a class="footer-navigation-link" href="#advantages">Переваги</a>
        </li>
        <li class="footer-navigaiotn-item">
          <a class="footer-navigation-link" href="#assortment">Асортимент</a>
        </li>
        <li class="footer-navigaiotn-item">
          <a class="footer-navigation-link" href="#gallery">Галерея</a>
        </li>
        <li class="footer-navigaiotn-item">
          <a class="footer-navigation-link" href="#feedbacks">Відгуки</a>
        </li>
        <li class="footer-navigaiotn-item">
          <a class="footer-navigation-link" href="#support">Контакти</a>
        </li>
      </ul>
      <ul class="footer-socials">
        <li class="footer-socials-item">
          <a
            href="https://www.instagram.com/"
            class="footer-socials-link"
            target="_blank"
            aria-label="Instagram"
          >
            <svg
              width="32"
              height="32"
              class="footer-socials-logo"
              aria-hidden="true"
            >
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials-item">
          <a
            href="https://www.linkedin.com/"
            class="footer-socials-link"
            target="_blank"
            aria-label="LinkedIn"
          >
            <svg
              width="32"
              height="32"
              class="footer-socials-logo"
              aria-hidden="true"
            >
              <use href="/img/sprite.svg#icon-linkedIn"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials-item">
          <a
            href="https://www.youtube.com/"
            class="footer-socials-link"
            target="_blank"
            aria-label="YouTube"
          >
            <svg
              width="32"
              height="32"
              class="footer-socials-logo"
              aria-hidden="true"
            >
              <use href="/img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <div class="footer-info">
      <address class="footer-contacts">
        <ul class="footer-contacts-list">
          <li class="footer-contacts-item">
            <a class="footer-contacts-link" href="tel:+380999091122"
              >+38 (099) 909 11 22</a
            >
          </li>
          <li class="footer-contacts-item">
            <a class="footer-contacts-link" href="mailto:hello@ecotote.com"
              >hello@ecotote.com</a
            >
          </li>
        </ul>
      </address>
      <p class="footer-rights">© 2025 EcoTote. Всі права захищені.</p>
    </div>
  </div>
</footer>
