/* ================ASSORTMENT============== */

.assortment {
  background-color: #ebf8ed;

  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0 auto;
}

.assortment-ware {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  list-style: none;
  margin-bottom: 32px;
  font-family: 'Comfortaa', sans-serif;
  letter-spacing: 0.01em;
  line-height: 1.2;
}

.assortment-ul {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  gap: 40px;
  width: 288px;
  margin: 0 auto;
}

.assortment-li {
  list-style: none;
  text-align: center;

  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.assortment-father-elements {
}

.assortment-tittle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

.assortment-foto {
  border-radius: 32px;
}

.assortment-button-buy {
  border: 1px solid #030a06;
  border-radius: 6px;
  height: 40px;
  background-color: transparent;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;

  max-width: 100%;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.assortment-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 8px;
  text-align: center;
}

.assortment-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
}

/* =============media-768======================= */

@media screen and (min-width: 768px) {
  .assortment-ware {
    margin-bottom: 32px;
  }

  .assortment {
    width: 768px;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .assortment-li {
    height: 593px;
    width: calc((100% - 24px) / 2);
  }

  .assortment-ul {
    column-gap: 24px;
    row-gap: 48px;
    width: 704px;
  }
}

/* ===============media-1440=============== */

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .assortment {
    width: 1440px;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .assortment-ware {
    font-size: 48px;
  }

  .assortment-ul {
    row-gap: 64px;
    width: 1312px;
  }

  .assortment-li {
    list-style: none;
    text-align: center;
    width: calc((100% - 72px) / 4);
  }

  .assortment-button-buy:hover,
  .assortment-button-buy:focus {
    color: #fff;
    background-color: #030a06;
    opacity: 0.5;
  }

  .assortment-button-buy:active {
    background-color: #113916;
    opacity: 0.6;
  }
}
